{:site-title       "Narkisr.com"
 :theme            "narkisr"
 :author           "Ronen Narkis"
 :description      "The blog of Ronen Narkis"
 :site-url         "http://narkisr.com/"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "pages"
 :blog-prefix      ""
 :rss-name         "atom.xml"
 :recent-posts     3
 :post-date-format "dd-MM-yyyy"
 :sass-src         nil
 :sass-dest        nil
 :resources        ["img" "css" "js" "404.html"]
 :keep-files       [".git"]
 :disqus?          false
 :hide-future-posts?   true
 :clean-urls?          true
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :previews?            false
 :debug? false
 :rss-filters []
 }
